@(controller:de.htwg.se.ttfe.controller.Controller, message:String)

@size= @{ controller.field.grid.size }

@main("HTWG 2048") {
<link rel="stylesheet" href='@routes.Assets.versioned("stylesheets/ttfe.css")' />
<script src='@routes.Assets.versioned("javascripts/bootstrap.min.js")'> </script>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">HTWG 2048</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/new">New <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/about">About</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Size
                </a>
                <div class="dropdown-menu" >
                    <a class="dropdown-item" href="/new">Standard (4*4)</a>
                </div>
            </li>

        </ul>
    </div>
</nav>


<div class="gamecontainer">
    <div class="game">
        <div class="house">
            @for(xIndex <- 0 until size*size) {
                <div class="cell" id="cell@xIndex"></div>
                @if(xIndex % size == size - 1){
                    </br>
                }
            }
        </div>
    </div>
</div>

<div class="alert alert-primary" role="alert" >
    @message
</div>
}