@(controller:de.htwg.se.ttfe.controller.Controller)

@size= @{ 4 }


@main("HTWG TTFE") {
<link rel="stylesheet" href='@routes.Assets.versioned("stylesheets/ttfe.css")' />

<div class="gamecontainer">
    <div class="game">
        <div class="house">
            @for(xIndex <- 0 until size) {
                @for(yIndex <- 0 until size) {
                    <div class="cell">
                        @controller.field.grid(xIndex)(yIndex)
                    </div>
                }
                </br>
            }
            Score: @controller.field.score
        </div>
    </div>

</div>

}